<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Acx\BrandSlider\Api\Data\BrandInterface"
                type="Acx\BrandSlider\Model\Brand" />
    <preference for="Acx\BrandSlider\Api\BrandRepositoryInterface"
                type="Acx\BrandSlider\Model\BrandRepository" />
    <preference for="Acx\BrandSlider\Api\Data\BrandSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <virtualType name="BrandGridDataProviderVirtualCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">acx_brandslider_brand</argument>
            <argument name="resourceModel" xsi:type="string">Acx\BrandSlider\Model\ResourceModel\Brand</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brandslider_brand_listing_data_source" xsi:type="string">
                    BrandGridDataProviderVirtualCollection
                </item>
            </argument>
        </arguments>
    </type>
</config>
